/*************

GENERAL & NAVIGATION

************/

html {
    max-width: 100%;
}

.menuItem {
    font-weight: bold;
}

.menuItem:hover {
    text-decoration: underline;
}

header.container  {
    padding: 0;

}

header img {
    width: 100%;
    height: 100px;
}

.min-vh {
    min-height: 35vh;
}

.row {
    margin-top: 20px;
}


/*end*/



/* 

CONTENT

*/

#navbarNav ul li a {
    padding: 0 50px 0 0;
}

main {
    color: black;
    font-size: 1em;
    background-color: #867f8a;
}

#mainSiteHeader {
    margin: 5% 0 5% 0;
    padding: 1% 0 1% 0;
    text-align: center;
}

.col-md-3 ul li {
    list-style: none;
}

#hoursAndLocation {
    padding-left: 0;
    padding-right: 0;
}

#hoursAndLocation ul {
    display: block;
}

#hoursAndLocation ul li {
    margin: 5% 0 5% 0;
    list-style: none;
}

#hoursAndLocation ul h4 {
    text-decoration: underline;
}

header.container, main.container, footer.container {
    max-width: 100%;
}

.addrAndHrsCol {
    padding: 0;
}

#hoursAndLocation li p {
    margin: 0;
}

#days {
    padding: 0;
    text-align: center;
}


/************

FOOTER

*************/


footer {
    background-color: #c7753e;
    text-align: center;
}

footer h4 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: underline;
}


/*end*/


