/*************

GENERAL & NAVIGATION

************/

html, body {
   min-width: 100%;
   margin: 0;
   height: 100%;
   background-color: #867f8a;
}
.menuItem {
    font-weight: bold;
}

.menuItem:hover {
    text-decoration: underline;
}

header.container, #mainContainer.container,
main.container, div.container {
    padding: 0;
}

header img {
    width: 100%;
    height: 100px;
}

.min-vh {
    min-height: 35vh;
}


/*end*/



/* 

CONTENT

*/

#navbarNav ul li a {
    padding: 0 50px 0 0;
}

main {
    color: black;
    font-size: 1em;
    background-color: #867f8a;
    position: absolute;
    min-height: 75%;
}

div.container.center-block {
    padding: 0;
}

#images .carousel-inner img {
    height: 200px;
}

#images div.row {
    display: block;
}

#images .row div.col-md-4 {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

#mainSiteHeader {
    margin: 1% 0 1% 0;
    padding: 1% 0 1% 0;
    text-align: center;
}

.col-md-3 ul li {
    list-style: none;
}

#hoursAndLocation {
    padding-left: 0;
    padding-right: 0;
}

#hoursAndLocation ul {
    display: block;
    text-align: center;
}

#hoursAndLocation ul li {
    margin: 5% 0 5% 0;
    list-style: none;
}

#hoursAndLocation ul h4 {
    text-decoration: underline;
}

#mainContainer.container, header.container, main.container, footer.container {
    max-width: 100%;
}

.addrAndHrsCol, .addrAndHrsCol ul {
    padding: 0;
    margin: 0;
}

#hoursAndLocation li p {
    margin: 0;
}

.contactTap a h5 {
    text-decoration: underline;
    color: black;
}

.contactTap a h5:hover {
    color: #fd7e14;
}

.contactCentre {
    text-align: center;
    margin: 15% 0 10% 0;
}

#contactUs ul {
    padding: 0; 
}


/************

FOOTER

*************/


footer {
    background-color: #c7753e;
    text-align: center;
}

footer h4 {
    text-decoration: underline;
}


/*end*/


